* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #242526;
  font-family: 'Roboto', sans-serif;  
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  
}

.content {
  position: fixed;
  background: #3A3B3C;
  position: fixed;
  top: 0%;
  width: 98rem;
  box-shadow: 0 0 1px  #fff;
}

.content img {
  margin-top: 5px;
  padding: 5px;
  margin: 5px;
}

div.side input {
  position: absolute;
  border: #242526;
  color: #95979A;
  border-radius: 28px;
  outline: none;
  text-align: center;
  margin: 5px;
  padding: 0 30px 0 12px;
  width: 270px;
  height: 45px;
  left: 60px;
  top: 5px;
  background: url("./images/search.svg") no-repeat 15px center  #242526;;
   
}

div.side img {
  margin-top: 0;
  padding: 5px;
  margin: 5px;

}

header#main-header nav ul {
  list-style: none;
}

header#main-header .content nav ul li {
  position: relative;
}

div.side img {
  position: absolute;
  width: 46px;
  height: 45px;
  left: 1200px;
  top: 5px;
}

div.side p {
  position: absolute;
  width: 20px;
  height: 45px;
  left: 1258px;
  top: 25px;
  color: #0A65DC;
}

div.images-nav ul li {
  list-style: none;
  display: flex;

}

div.images-nav ul li img {
  position: absolute;
  width: 20px;
  height: 45px;
  left: 1370px;
  top: 10px;
  padding: 1px;

}

div.banner  {


}

