* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #242526;
  font-family: 'Roboto', sans-serif;  
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  
}

.content {
  position: fixed;
  background: #3A3B3C;
  position: fixed;
  top: 0%;
  width: 98rem;
  box-shadow: 0 1px 4px  #fff;
}

.content ul li img {
  margin-top: 5px;
  padding: 5px;
  margin: 5px;
}

div.side input {
  position: absolute;
  background: #242526;
  border: #242526;
  color: #95979A;
  border-radius: 20px;
  outline: none;
  text-align: center;
  margin: 5px;
  padding: 0 30px 0 12px;
  width: 270px;
  height: 49px;
  left: 70px;
  top: 5px;
   
}

div.side img {
  margin-top: 0;
  padding: 5px;
  margin: 5px;
}
