* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: #18191a;
  font-family: 'Roboto', sans-serif;  
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

header.header-container {
  position: fixed;
  z-index: 1;
  max-height: 66px;
  height: 100%;
  width: 100%;
  background: #242526;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.header-content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content .header-logo-container {
  display: flex;
  align-items: center;
}

.search-input-container {
  background: #18191a80;
  display: flex;
  align-items: center;
  margin-left: 16px;
  border-radius: 100px;
  padding: 8px 16px;
  border: 2px solid transparent;
  transition: border-color 0.2s;
}

.search-input-container button {
  margin-left: 8px;
}

.search-input-container input {
  color: #fff;
  flex: 1;
}

.search-input-container:focus-within {
  border-color: #999;
}

.search-input-container input, .search-input-container button {
  background: transparent;
  border: 0;
}

.header-content .header-navigation {
  display: flex;
  align-items: center;
}

.header-content .header-navigation .header-navigation-item img {
  width: 30px;
  height: 30px;
}

.header-navigation-item:not(.header-navigation:first-child) {
  margin-left: 52px;
}

.header-profile-container {
  display: flex;
  align-items: center;
}

.header-avatar-container {
  display: flex;
  align-items: center;
  margin-right: 32px;
}

.header-avatar-container img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.header-avatar-container span {
  color: #fff;
  margin-left: 12px;
  font-weight: 500;
}

.header-navigation-profile-item img {
  width: 18px;
  height: 18px;
}

.header-navigation-profile-item:not(.header-navigation-profile-item:first-child) {
  margin-left: 12px;
}

/* 
div.side-nav input {
  position: absolute;
  border: #242526;
  color: #e3e5ea;
  border-radius: 28px;
  outline: none;
  text-align:start;
  margin: 5px;
  padding: 0 16px 0 48px;
  width: 270px;
  height: 35px;
  left: 60px;
  top: 5px;
  background: url("./images/search.svg") no-repeat 15px center  #3a3b3c;
  font-size: 14px; 

}

div.side-nav img {
  position: absolute;
  width: 46px;
  height: 45px;
  left: 1200px;
  top: -2px;
  margin-top: 0;
  padding: 5px;
  margin: 5px;
  border-radius: 50%;
}

div.side-nav p {
  position: absolute;
  width: 20px;
  height: 45px;
  left: 1258px;
  top: 18px;
  color: #0A65DC;
}

div.images-nav ul li {
  display: flex;

}

div.images-nav ul {
  display: flex;
}

div.images-nav ul li img {
  position: relative;
  display: flex;
  width: 18px;
  height: 29px;
  left: 1350px;
  top: 5px;
  margin: 10px;

}

div.banner  {
  background: #000;
  position: relative;
  display: flex;
  justify-content: center;
  height: 400px;
  width: 950px;
  margin-left: 290px;
  margin-top: 2px;
  border-radius: 6px;
}

div.profile .avatar {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 180px;
  height: 180px;
  left: 690px;
  top: 250px;
  border: 5px solid #242526;
  border-radius: 50%;
}

div.profile h1 {
  position: absolute;
  display: flex;
  color: #e3e5ea;
  margin-top: 40px;
  margin-left: 660px;
}

div.profile p {
  display: flex;
  justify-content: center;
  color: #95979A;
  margin-top: 15px;
}

div.division {
  display: flex;
  border-bottom: 1px solid #95979A;
  padding-bottom: 15px;
  margin-bottom: 15px;
  width: 58%;
  margin-top: 5px;
  margin-left: 320px;
  opacity: 0.3;
}

div.bar .content-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 395px;
  height: 100%;
}

div.bar .content-bar ul {
  display: flex;
  height: 100%;
}

div.bar .content-bar ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 15px 20px;
  position: relative;
  left: -70px;
  color: #95979A;
  font-size: 15px;

}

div.bar .content-bar ul li strong {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 5px;
  position: relative;

}

div.profile-content {
  background:#242526;
}

div.side {
  background: #242526;
  width: 360px;
  height: 300px;
  margin-top: 15px;
  margin-left: 320px;
  border-radius: 10px;
}

div.side h2 {
  color: #e3e5ea;
  padding: 20px;
  margin-left: 10px;

}

div.side ul li {
  position: relative;
  color: #e3e5ea;
  margin-top: -10px;
  margin-left: 50px;
  padding: 20px;
}

div.side li img {
  position: relative;
  display: flex;
  margin-left: -40px;
  width: 20px;
  height: 25px;
  margin-top: -20px;
}

div.timeline {
  background: #242526;
  width: 500px;
  height: 150px;
  margin-top: -300px;
  margin-left: 700px;
  border-radius: 10px;
}

div.timeline .perfil {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-top: 10px;
}

div.timeline p {
  display: flex;
  justify-content: row;
  color: #95979A;
  border-radius: 10px;
}

div.timeline input {
  position: absolute;
  background: #3a3b3c;
  border-radius: 40px;
  display: flex;
  text-align: row;
  margin: 5px;
  padding: 10px 15px 9px 20px;
  width: 400px;
  height: 43px;
  margin-left: 60px;
  margin-top: -45px;
  outline: none;
  text-align:start;
  border: none;
  color: #e3e5ea;
  font-size: 17px;

}

div.timeline-icon ul {
  display: flex;
}

div.timeline-icon ul li {
  display: flex;
  color: #95979A;
}
  
  div.timeline-icon ul li {
    position: relative;
    display: flex;
    width: 6px;
    height: 18px;
    left: 670px;
    top: -100px;
    margin: 53px;
    padding: 0 15px;
    
  }

  div.timeline-icon ul li img {
    margin-right: 9px;
  }

  div.division-status {
    display: flex;
    border-bottom: 1px solid #95979A;
    width: 450px;
    margin-top: 25px;
    margin-left: 15px; 
    opacity: 0.3;
  }

  div.side-photos {
    background: #242526;
    width: 360px;
    height: 415px;
    margin-top: 40px;
    margin-left: 320px;
    border-radius: 10px;
  }

  div.side-photos h3 {
    color: #e3e5ea;
    padding: 20px;
    margin-left: 5px;
  }

  div.side-photos strong {
    color: #0A65DC;
    position: relative;
    width: 6px;
    height: 18px;
    left: 130px;
    top: -40px;
    margin: 53px;
  }

  div.side-photos ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px 0 15px;
  }

  div.side-photos ul li  {
    width: 100px;
    height: 100px;
    background: #95979A;
    border-radius: 2px;
    flex: 1 0 auto;
    margin: 0 5px 5px 0;
   
  }

  div.side-friends {
    background: #242526;
    width: 360px;
    height: 510px;
    margin-top: 15px;
    margin-left: 320px;
    border-radius: 10px;
  }

  div.side-friends h3 {
    color: #e3e5ea;
    padding: 20px;
  }

  div.side-friends p {
    color: #95979A;
    margin-left: 10px;
    margin-top: -15px;
    font-size: 15px;
    padding: 9px;
  }

  div.side-friends strong {
    color: #0A65DC;
    position: absolute;
    margin-top: -60px;
    margin-left: 160px;
    padding: 20px;
  }

  div.side-friends ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px 0 15px;
  }

  div.side-friends ul li  {
    width: 100px;
    height: 100px;
    background: #95979A;
    border-radius: 6px;
    flex: 1 0 auto;
    margin: 0 10px 40px 0;
   
  }

  div.side-friends ul li img {
    width: 100px;
    height: 100px;
    background: #95979A;
    border-radius: 6px;
    flex: 1 0 auto;
    margin: 0 10px 10px 0;
   
  }

  div.side-friends ul li p {
    font-size: bold;
    position: absolute;
    color: #e3e5ea;
    margin-top: -25px;
    margin-left: -20px;
    padding: 20px;
    
  }







 */
